<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Appointment Service</title>

<!-- Bootstrap core CSS -->
<link
	href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>

	<div th:replace="fragments/navbar :: topbar"></div>

	<main role="main" class="container md">

		<div class="row">
			<div class="col-md-12">
				<h1>Manage Patients</h1>
				<hr>
			</div>
		</div>

		<div class="row">
			<!-- create-appointment begin  -->
			<div class="col-md-6">
				<form name="create-appointment" th:action="@{/patient}"
					th:object="${patient}" method="post">

					<div class="row">
						<div class="form-group col-md-6">
							<label for="patientNIC" class="form-label">Patient NIC:</label> <input
								class="form-control" list="patientList" id="patientNIC"
								placeholder="search by NIC..." th:field="*{NICNumber}">
							<datalist id="patientList">
							</datalist>
						</div>
						<div class="form-group col-md-6">
							<label for="patientPhone" class="form-label">Patient
								Phone:</label> <input class="form-control" list="patientList"
								id="patientPhone" placeholder="search by phone..."
								th:field="*{phoneNumber}">
							<datalist id="patientList">
							</datalist>
						</div>

					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<label for="firstName">First Name:</label> <input type="text"
								class="form-control" id="firstName" th:field="*{firstName}">
						</div>
						<div class="form-group col-md-6">
							<label for="lastName">Last Name:</label> <input type="text"
								class="form-control" id="lastName" th:field="*{lastName}">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label for="address">Address:</label> <input type="text"
								class="form-control" id="address" th:field="*{adress}">
						</div>
					</div>




					<button type="submit" class="btn btn-primary" disabled
						id="btnBookAppointment">Add Patient</button>
					<button class="btn btn-warning" id="btnRescheduleAppointment">Update</button>
					<button class="btn btn-danger"
						sec:authorize="hasRole('ROLE_super_admin')" disabled
						id="btnBookAppointment">Delete</button>
				</form>
			</div>
			<!-- create-appointment end  -->



			<div class="jumbotron col-md-6">

				<!-- error table  -->
				<div th:unless="${error==null}">


					<table class="table">
						<thead>
							<tr>
								<th scope="col">Error Code</th>
								<th scope="col">Body</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:text="${error.statusCode}"></span></td>
								<td><span th:text="${error.body}"></span></td>
							</tr>
						</tbody>
					</table>



				</div>

				<!-- #error table  -->

				<div id="infoTableSpace"></div>


			</div>

		</div>

	</main>

	<div th:replace="fragments/footer :: footer"></div>

	<!-- Bootstrap core JavaScript
    ================================================== -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" th:src="@{./js/patient.js}" /></script>
	<script type="text/javascript" th:src="@{./js/navbar.js}" /></script>

</body>
</html>